[Unit]
Description=SSH WebSocket over Dropbear Service
After=network.target

[Service]
ExecStart=/usr/bin/python3 -O /usr/local/bin/ws-dropbear 1445
User=root
Restart=always
Type=simple
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target
